@media (max-width: 500px){
       

    #logo{
        display: none;
    }

    #nav{
        width: auto;
    }

    #v1{
        width:auto
    }

    #v2{
        width:auto
    }

    #v3{
        width:auto
    }
}